<div class="main">
    <ul class="links">
        <li class="buttons"><a routerLink="../new-soul">NEW SOUL</a></li>
        <li class="buttons"><a routerLink="../mark-presence">MARK PRESENCE</a></li>
    </ul>
    <div class="logo"><a routerLink="../home">Precensiór</a></div>
    <ul class="links">
        <li class="buttons"><a routerLink="../presences">PRESENCES</a></li>
        <li class="buttons"><a routerLink="../bm-coffee">BUY ME A COFFEE <i class="ri-cup-fill"></i></a></li>
    </ul>
</div>